/*
 .box{ display: table-cell; width: 230px; padding:10px; border-radius: 3px; height: 270px !important; }
    .box .inner { margin: 0;  padding:0 10px; padding-left: 0; padding-bottom: 0; display: none;}
    .box.active .inner{ display: block;  margin-top:15px; }
    .box .inner label{ display: block; font-weight: normal; font-size:12px;   }
    .searchFilters{ background-color:#f3f7f9; padding:15px 0; position: relative; height: 120px; }
    .noStyling{ background-color: transparent; border: none; box-shadow: none; }
    .active{background-color: #fff;  border: solid 1px #c8c8c8;  box-shadow: 2px 2px 1px #c9c9c9; }
    .clearFilters{ 
      text-align: right; display: none; margin:0;
     }
.box .inner label {
		 color:#333;
}

.text-content > .searchFilters {
  height: 170px;
}

 .box input[type="checkbox"] {
  margin-left:0;
  margin-top:2px;
}


@media screen and (max-width: 640px) {

	.inner{ display: block !important; }

.box {  display: block !important; height:  auto !important}
.text-content > .searchFilters{ height:  auto !important }
}
*/