.btn {
	border: 2px solid transparent;
	transition: all .3s ease;
	@include button-size(18px, 18px, 16px, 1.44, 5px);
	letter-spacing: .1em;
	text-transform: uppercase;
	font-weight: 700;
	min-width: 220px;

	@media #{$sm-max} {
		@include button-size(12px, 15px, 12px, 1.44, 3px);
		min-width: 180px;
	}

	@media #{$xs-max} {
		@include button-size(12px, 18px, 12px, 1.44, 3px);
		min-width: 160px;
	}
}

.btn-primary {
	@include button-variant(#fff, $brandColorPrimary, $brandColorPrimary);

	&.transparent {
		@include button-variant($brandColorPrimary, transparent, $brandColorPrimary);

		&:hover {
			border-color: darken($brandColorPrimary, 10%);
			color: darken($brandColorPrimary, 10%);
		}
	}
}