.content-row {
padding: 0 10px;

@media #{$md-min} {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

&:first-child {
padding-top: 10px;
}

&:last-child {
padding-bottom: 10px;
}

.content-box {
border: 10px solid #fff;
background-color: $lightGrey;

@media #{$md-min} {
display: flex;
align-items: center;
justify-content: center;
height: 670px;
width: 50%;
}

&.square-box {

@media #{$md-min} {
height: 410px;
}
}

@media #{$sm-max} {
width: 100%;
height: auto;
}

.image {
width: 100%;
height: 100%;
overflow: hidden;

img {

@media #{$md-min} {
min-width: 100%;
min-height: 100%;
position: relative;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}

@media #{$sm-max} {
width: 100%;
height: auto;
}
}
}

.text-content {
padding: 60px;

@media #{$md-max} {
padding: 40px;
}

@media #{$sm-max} {
padding: 40px;
}

@media #{$xs-max} {
padding: 40px;
}
}
}

.content-box-align-top {
align-items: flex-start;
}
}

.content-row-full-width,
.container-fluid .content-row {
padding: 0;

.content-box {
border: none;

.text-content {
padding: 60px 80px;

@media #{$md-max} {
padding: 40px;
}

@media #{$sm-max} {
padding: 40px;
}

@media #{$xs-max} {
padding: 40px;
}
}
}
}


.content-row-reverse {
@media #{$md-min} {
flex-direction: row-reverse;
}

}

.layout {

> .text-content {
margin-bottom: 3em;
}
}

.text-content {

p {
color: #242525;

&:not(:last-child) {
margin-bottom: 1em;
}

strong {
@extend .text-big;
font-weight: 400;
color: #777879;

margin-bottom: 1.4347em;
display: block;
}
}

blockquote {
@extend .text-big;
font-weight: 400;
color: #777879;
padding: 0;
font-style: normal;
border: none;

&:not(:first-child) {
margin-top: calc(40em/23);
}

&:not(:last-child) {
margin-bottom: calc(40em/23);
}

&:before {
content: '“'
}

&:after {
content: '”'
}
}

hr {
margin: 1em 0;
border: none;
border-top: 1px solid #dde0e2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
margin: .84375em 0 .5em;
color: #000;
font-weight: 400;

&:first-child {
margin-top: 0;
}

&:last-child {
margin-bottom: 0;
}
}
}

.post-content {

.logo {
height: 64px;
line-height: 64px;
margin-bottom: 16px;

img {
max-width: 100%;
max-height: 100%;
vertical-align: middle;
}
}

.title {
@extend .text-large;
color: $grey;
font-weight: 300;
margin-top: calc(15em/32);
margin-bottom: calc(30em/32);
}

.date {
color: #242525;
display: block;
}
}

.jumbotron-section {
margin-top: 38px;

img {
display: block;
width: 100%;
height: auto;
}
}

.columns {

@media #{$sm-min} {
display: flex;
flex-wrap: wrap;
}

.column {
background-color: $lightGrey;

@media #{$sm-min} {
width: 33.3333%;
}

&:nth-child(odd) {
background-color: $darkGrey;
}

.head {
display: flex;
height: 370px;
align-content: center;
justify-content: center;
align-items: center;
padding: 2.5em;
color: #fff;
position: relative;

@media #{$sm-max} {
height: 320px;
}

@media #{$xs-max} {
height: 270px;
}

&:before {
position: absolute;
left: 0;
top: 0;
right: 0;
bottom: 0;
content: '';
z-index: 1;
background-color: rgba(#000, .4);
}

.title {
z-index: 2;
margin: 0;
color: #fff;
@extend .text-subtitle;
}
}

.content {
padding: 2em 2.5em 2.75em;

@media #{$sm-max} {
padding-left: 1.5em;
padding-right: 1.5em;
}

p {
margin-bottom: 1em;
}
}
}
}

.about-promo {

.section-title {
margin: 1.25em 0 1.5416em;
}
}

.beliefs {
text-align: center;
position: relative;
padding: 46px 0;

@media #{$xs-max} {
padding: 23px 0;
}

.row {

& > div {

&:nth-child(2n + 1) {

@media #{$md-max} {
clear: left;
}
}
}
}

.section-title {
margin-bottom: 1.5416em;
}

.ico-holder {
position: relative;
margin: 0 auto 40px;
text-align: center;

.ico {
position: relative;
line-height: 150px;
margin: auto;
@include square(150px);

img {
max-width: 100%;
max-height: 100%;
vertical-align: middle;
}
}

.num {
font-size: 36px;
font-weight: 300;
line-height: 0.83;
text-align: center;
background-color: $brandColorPrimary;
border-radius: 50%;
display: block;
align-content: center;
@include square(76px);
line-height: 76px;
color: #fff;
box-shadow: 0 0 0 4px #fff;
position: absolute;

&.top {
bottom: 50%;
margin-bottom: 10px;
}

&.bottom {
top: 50%;
margin-top: 10px;
}

&.left {
right: 50%;
margin-right: 10px;
}

&.right {
left: 50%;
margin-left: 10px;
}
}
}

.description {
margin-bottom: 92px;

@media #{$xs-max} {
margin-bottom: 46px;
}
}
}

.teams {
margin-bottom: 2em;

.section-head-bg {
@media #{$sm-min} {
padding-top: 5.3333em;
padding-bottom: 5em;
}

.section-title {
margin-bottom: .25em;
}
}
}

.perks {

.section-title {

@media #{$sm-min} {
margin-bottom: .75em;
}
}

.text-holder {

@media #{$md-min} {
max-width: 480px;
margin: auto;
}
}

.text-content {
color: #000;
}
}

.open-jobs {

.section-title {
@media #{$sm-min} {
margin: .95em 0;
}
}

.tab-menu {

& > li {
margin-bottom: 2px;

@media #{$xs-max} {
display: inline-block;
float: none;
}

& > a {
display: inline-block;
vertical-align: top;
border-radius: 5px;
line-height: 20px;
padding: 10px 17px;
transition: all .3s ease;
font-weight: 400;

@media #{$xs-max} {
display: inline-block;
float: none;
padding: 8px 12px;
}
}
}

& > .sep {
margin-bottom: 30px;
}

& > .active {

& > a,
& > a:hover,
& > a:focus {
color: #fff;
background-color: $brandColorPrimary;
}
}
}

.tabset {
@extend .clearfix;
padding: 18px 0 0 0;
border-top: 1px solid #dde0e2;

&.show-all {

.empty-msg {
display: none;
}
}

.empty-msg {
@extend .text-big;
}

.nav-col {
position: relative;
z-index: 2;

@media #{$sm-min} {
float: left;
margin-right: 20px;
width: 220px;
}

@media #{$md-min} {
width: 266px;
}

@media #{$xs-max} {
margin-bottom: 30px;
}
}

.content-col {
overflow: hidden;

.tab-pane {
margin-bottom: 40px;

@media #{$md-max} {
margin-bottom: 35px;
}

@media #{$sm-max} {
margin-bottom: 30px;
}

@media #{$xs-max} {
margin-bottom: 25px;
}
}

.tab-title {
margin: .125em 0 .8125em;
}
}
}

.job-promo {
display: block;
text-decoration: none;
padding: 1.1667em 1.38888em 1.3889em;
background-color: $lightGrey;
color: inherit;
transition: all .3s ease;

&:hover {
background-color: $darkGrey;
}

&:not(:last-child) {
margin-bottom: 1px;
}

.title {
margin: 0 0 10px;
@extend h3;
color: #000;
}

.description {
color: $grey;
}
}
}

.page-description {
padding: 3.6111em 0 5em;
}


.testimonials {
margin-top: 60px;
background-color: $lightGrey;

.row {
margin: 0;

& > div {
padding: 0 45px;

@media #{$md-max} {
padding: 0 35px;
}

@media #{$sm-max} {
padding: 0 25px;
}

@media #{$xs-max} {
padding: 0 20px;

&:not(:first-child) {
margin-top: 120px;
}
}
}
}

.ico {
@include square(120px);
border-radius: 50%;
background-color: #dbdee0;
@extend .bg-cover;
position: relative;
margin: -60px auto 12px;

&:after {
content: '“';
font-size: 100px;
color: $brandColorPrimary;
position: absolute;
left: -20px;
top: -6px;
font-weight: 700;
line-height: 1;
}
}

.title {
@extend .text-big;
color: $grey;
text-align: center;
margin-bottom: 6px;
}

.sub-title {
@extend .text-x-small;
text-align: center;
}

q {
padding: 0;
margin: 1.7778em 0 0;
border: none;
display: block;
font-style: normal;
}

.btn-holder {
background-color: $darkGrey;
text-align: center;
padding: 2.3333em 20px;
margin-top: 3.6667em;
}
}

.game-promo {
position: relative;
padding: 42px 0;

.section-title {
margin: .625em 0 .25em;
}

.section-description {
margin: 1em 0 1.4348em;
color: #000;
}
}

#header + .page-header {
padding-top: 184px;

@media #{$sm-max} {
padding-top: 134px;
}

@media #{$xs-max} {
padding-top: 114px;
}
}

.page-header {
padding: 4.5em 0;
margin: 0;
border: none;

@media #{$sm-max} {
padding: 2.5em 0;
}

.section-title {
margin: 0;
}
}

.btns-row {

.btn {
margin: 0 2px 5px;
}
}

.releases {

.btn {
opacity: .85;
}
}

.release-logo {
height: 156px;
line-height: 156px;
margin-bottom: 15px;

@media #{$xs-max} {
height: auto;
line-height: normal;
max-width: 260px;
margin: auto;
}

img {
display: inline-block;
vertical-align: middle;
}
}

.image-fullwidth {

img {
display: block;
width: 100%;
height: auto;
@media #{$xs-max} {
width: auto;
height: 350px;
margin: 0 -50%;
}
}
}

#news {
.post-content {
.title {
font-size: 24px;
}
}
}

.error404 {

h1 {
color: #000;
margin: 150px 0 10px 0;
}

p {
font-size: 22px;

&.home-link {
margin-top: 40px;
}
}
}

.uni-video {
max-width: 1200px;
}

.instagram .section-title
{
padding-top: 60px !important;
}

#sb_instagram #sbi_load .sbi_load_btn, 
#sb_instagram .sbi_follow_btn a {
position: relative;
margin-right:0px;
color: #1daadf;
background-color: transparent ;
border-color: #1daadf;
border: 2px solid;
transition: all .3s ease;
padding: 18px;
font-size: 16px;
line-height: 1.44;
border-radius: 5px;
font-weight: 700;
min-width: 220px;
}

#sb_instagram .sbi_loader {
position: relative;
left: 47%;
width: 46px;
height: 46px;
margin: 5px 0 10px 15px;
background:url(../images/loader.png) no-repeat;
}

.glyphicon {

margin-top: 110%;
}
.carousel-indicators li
{
background-color: #0F89B4;
}
.carousel-control
{
	font-size: 30px !important;
	margin-right: 15px !important;
	margin-bottom: 5px !important;
	margin-left: 15px !important;
}
.multi-item-carousel .carousel-inner > .item {
    transition: 100ms ease-in-out left !important;
}
.multi-item-carousel .carousel-inner .active.left {
    left: -33% !important;
}
.multi-item-carousel .carousel-inner .active.right {
    left: 33% !important;
}
.multi-item-carousel .carousel-inner .next {
    left: 33% !important;
}
.multi-item-carousel .carousel-inner .prev {
    left: -33% !important;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .multi-item-carousel .carousel-inner > .item {
        transition: 100ms ease-in-out left !important;
        transition: 100ms ease-in-out all !important;
        backface-visibility: visible !important;
        transform: none!important;
    }
}
.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
    background-image: none;
}
.nav-set{
   opacity: 1 !important;
   

}
iframe{
    border: none !important;
}
.nav-indicator{
    background-color: #1E93C0 !important;
    width: 75px!important;
    height: 75px!important;
    border-radius: 32px;
    line-height: 75px!important;
}    