#footer {
	background-color: #f0f3f5;
	text-align: center;
	padding: 38px 0;

	@media #{$sm-max} {
		padding: 34px 0;
	}

	@media #{$xs-max} {
		padding: 28px 0;
	}

	.menu-primary {
		margin-bottom: 2em;
	}

	.menu-secondary {
		margin-bottom: 1.33em;
	}

	.copyright {
		@extend .text-x-small;
		margin: 0;
		color: #aeb1b2;
	}
}