.header-sticky {
  position: fixed !important;
  top: 20px;
  left: 0;
  right: 0;
}
#header {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    padding: 0 20px 20px 20px;
    z-index: 100;

    @media #{$xs-max} {
        /*
        padding-top: 10px;
        padding-bottom: 10px;
        */
    }

    .holder {
        padding: 0 20px;
        background-color: rgba(#000, .9);
        position: relative;

        @media #{$lg-min} {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .site-logo {
        text-decoration: none;
        display: inline-block;
        vertical-align: top;

        img {
            max-height: 30px;
            max-width: 208px;
            vertical-align: top;

            @media #{$xs-max} {
                max-height: 24px;
                max-width: 160px;
                margin-top: 3px;
            }
        }
    }

    .logo-holder {
        padding: 20px 0;

        @media #{$lg-min} {
            float: left;
            padding: 0;
            margin: 0 20px;
        }
    }

    .nav-holder {
        
        @media #{$lg-min} {
            float: right;
            display: block !important;
        }

        @media #{$md-max} {
            display: none;
            margin: 0 -20px;
        }
    }

    .main-nav {
        white-space: nowrap;

        @media #{$lg-min} {
            float: left;
        }

        > li {
            margin: 0;
            position: relative;
            display: block;

            @media #{$lg-min} {
                float: left;
            }

            &.current-menu-item:after {
                display: none;
            }

            &.current-menu-item > a,
            &.current-menu-item > a:hover {
                color: #fff;
                background-color: rgba($brandColorPrimary, .84);
            }

            &:hover > a {
                color: #fff;
                background-color: rgba($brandColorPrimary, .84);
            }
            
            & > a {
                display: block;
                padding: 20px;
                line-height: 40px;
                transition: all .3s ease;
                font-weight: 500;

                @media screen and (max-width: 1400px) {
                    padding: 15px 10px;
                    font-size: 12px;
                }

                @media #{$md-max} {
                    padding: 8px 20px;
                    line-height: 16px;
                    font-size: 14px;
                }
            }
        }

        > li:hover > .sub-menu {

            @media #{$lg-min} {

                &.expand-left {
                    right: 0;
                    left: auto;
                }

                &.expand-right {
                    right: auto;
                    left: 0;
                }
            }

            transition: opacity .3s 0s, left 0s 0s, right 0s 0s, background .3s 0s;
            opacity: 1;

            @media #{$md-max} {
                display: block;
                background-color: #3fb6e3;
            }
        }

        .sub-menu {
            @extend %clear-list;
            display: none;
            width: 372px;

            @media #{$md-max} {
                width: auto;
            } 

            @media #{$lg-min} {
                position: absolute;
                top: 100%;
                opacity: 0;
                left: -9999px;
                transition: opacity .3s 0s, left 0s .3s, background .3s 0s;
                display: block;
            }

            & > li {

                @media #{$lg-min} {
                    margin-top: 1px;
                }
                


                & > a {
                    display: block;
                    line-height: 20px;
                    padding: 22px 20px;
                    color: #fff;
                    text-decoration: none;
                    background-color: $brandColorPrimary;
                    opacity: .98;
                    transition: all .3s ease;

                    @media screen and (max-width: 1400px) {
                        padding: 15px 10px;
                        font-size: 12px;
                    }

                    @media #{$md-max} {
                        padding: 8px 20px;
                        line-height: 16px;
                        font-size: 14px;
                    }

                    &:hover {
                        background-color: #3b3c3c;
                    }
                }
            }
        }
    }
}

$menu-trigger-width: 30px;
$menu-trigger-height: 19px;
$menu-trigger-color: #fff;

.bt-menu-trigger {
    @include size($menu-trigger-width,$menu-trigger-height);
    transition: all .25s;
    cursor: pointer;
    z-index: 10001;
    display: none;
    position: absolute;
    right: 20px;
    top: 22px;

    @media #{$md-max} {
        display: block;
    }

    @media #{$xs-max} {
        width: 24px;
        height: 16px;
        top: 25px;
    }

    span {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 100%;
        height: 3px;
        transform: translate(0 -50%);
        background-color: $menu-trigger-color;
        font-size: 0px;
        @include user-select(none);
        @include transition(all .25s);

        &:before, &:after {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background: $menu-trigger-color;
            content: '';
            @include transition(all .25s);
        }

        &:before {
            @include translate(0, -275%);
        }

        &:after {
            @include translate(0, 275%);
        }
    }
}

.mobile-menu-open {

    .bt-menu-trigger span {
        background-color: transparent;

        &:before {
            transform: translateY(0) rotate(45deg);
        }

        &:after {
            transform: translateY(0) rotate(-45deg);
        }
    }
}