$heroSliderArrowW: 20px;
$heroSliderArrowH: 40px;
$heroSectionHeightDesktop: 820px;
$heroSectionHeightTablet: 480px;
$heroSectionHeightMobile: 320px;

.hero {
	position: relative;

	.owl-nav {
		position: absolute;
		left: $containerOffsetX;
		right: $containerOffsetX;
		top: 50%;
		transform: translate(0, -50%);
		z-index: 3;
		height: 0;
		line-height: 0;
	}

	.owl-prev,
	.owl-next {
		text-indent: -9999px;
		overflow: hidden;
		width: $heroSliderArrowW;
		height: $heroSliderArrowH;
		display: block;
		opacity: .5;
		transition: all .3s ease;
		background: url(#{$path-img}arrow@2x.png) no-repeat 0 0;
		background-size: contain;
		margin-top: -$heroSliderArrowH/2;

		&:hover {
			opacity: 1;
		}
	}

	.owl-prev {
		float: left;
		transform: scaleX(-1);
	}

	.owl-next {
		float: right;
	}

	.owl-dots {
		position: absolute;
		left: $containerOffsetX;
		right: $containerOffsetX;
		bottom: $containerOffsetX;
		z-index: 3;
		font-size: 0;
		text-align: center;
	}

	.owl-dot {
		@include square(11px);
		display: inline-block;
		vertical-align: top;
		margin: 0 2px;
		border-radius: 50%;
		background-color: #fff;
		opacity: .3;
		transition: all .3s;

		&.active {
			opacity: 1;
			cursor: default;
		}

		&:hover {
			opacity: .66;
		}
	}
}

.hero-slider {

	.container {
		padding-left: $containerOffsetX + 2*$heroSliderArrowW;
		padding-right: $containerOffsetX + 2*$heroSliderArrowW;
	}

	.btn {
		min-width: 240px;
		font-weight: 400;
		margin-top: 14px;

		@media #{$xs-max} {
			min-width: 180px;
			margin-top: 6px;
		}
	}
}

.hero-section {
    width: 100%;
    color: #fff;
    text-align: center;
    overflow: hidden;
    position: relative;
    >.cell {
        >.videoplayer {
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            width: 100%;
            z-index: -1;
            video {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        >.hero-content {
            @include flex();
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            align-items: center;
            .container {
                padding-top: 120px;
                padding-bottom: 120px;
                @media #{$xs-max} {
                    padding-top: 100px;
                    padding-bottom: 100px;
                }
            }
        }
    }

	.bg { 
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
	}

	.section-title {
		margin: 0;
		color: inherit;

		&:not(:last-child) {
			margin-bottom: .33em;
		}
	}

	.section-description {
		margin: 1em auto;
		max-width: 600px;
	}
}

.hero-slider {

	.img-placeholder {
		max-height: none;
	}
}

#war-dragons,
#episode {

	@media screen and (max-width: 560px),
	screen and (max-height: 479px) {

		.hero-section {
			height: 200px;

			.cell {
				padding-bottom: 20px;
			}

			.container {
				padding-top: 80px;
				padding-bottom: 0;
			}
		}
	}
}

#episode {

	.section-title {

		img {

			@media #{$sm-min} {
				margin-bottom: 200px;
			}

			@media #{$sm-max} {
				margin-bottom: 80px;
			}

			@media #{$xs-max},
			screen and (max-height: 599px)  {
				max-width: 180px;
				margin-bottom: 0;
			}
		}

		
	}
}

.hero-section-light {
	background-color: transparent;
	background-image: linear-gradient(to bottom, #f0f3f5 0%, rgba(#f0f3f5, 0) 50%);
	color: #000;

	.section-description {
		text-shadow: 0px 1px 1px #fff;
	}
}

.hero-section-dark,
.hero-section-heavy-dark {
    background-color: rgba(0,0,0,0.6);
}

.home {
    .hero-section {
        @media #{$xs-max} {
            .videoplayer {
                position: relative;
                padding-bottom: 0; 
                height: 560px;
                width: 100%;
                z-index: -1;
                video {
                    top: auto;
                    left: auto;
                    width: 995px;
                    height: 560px;
                }
            }
            .img-placeholder {
                height: 560px;
            }
            .section-title {
                font-size: 25px;
            }
        }
    }
}