/* Job Filters */

/* Hero section overrides (since site-wide CSS/DOM is faulty */
.page-id-893,
.page-id-951 {
    .secondary-main-menu{
        display: none;
    }
    .layout {
        .hero {
            .hero-section {
                .cell {
                    .img-placeholder {
                        display: none;
                    }
                    .hero-content {
                        @include flex();
                        padding-top: 80px;
                        min-height: 600px;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        top: auto;
                        left: auto;
                        .container {
                            padding: 0;
                            .section-description {
                                br {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Header search box */
.button_box2 {
    margin: 30px auto 0;
    width: 533px;
    .form-wrapper-2 {
        width: 100%;
        height: 63px;
        input {
            @include border-radius(5px 0 0 5px);
            width: 460px;
            height: 63px;
            padding: 10px 25px 6px 25px;
            float: left;
            font: normal 23px "Campton", sans-serif;
            border: 0;
            background: #fff;
            color: #000;
            &:focus {
                @include box-shadow(0,0,10px,0,#1daadf,inset);
                outline: 0;
                background: #fff;
            }
        }
        button {
            @include border-radius(0 5px 5px 0);
            position: relative;
            overflow: visible;
            float: right;
            border: 0;
            padding: 0;
            cursor: pointer;
            height: 63px;
            width: 73px;
            font: normal 23px "Campton", sans-serif;
            color: #fff;
            text-indent: -9999em;
            background: #1daadf;
            .fa-search {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: url(/wp-content/themes/pocketgems/assets/images/shared/search_white.png) no-repeat center center;
                @include background-size(28px);
            }
            &:hover {
                background-color: #1daadf;
            }
            &:active,
            &:focus {
                background-color: #21c2ff;
            }
        }
    }
}
.form-wrapper-2 input::-webkit-input-placeholder {
    color: #717374;
}
.form-wrapper-2 input:-moz-placeholder {
    color: #717374;
}
.form-wrapper-2 input:-ms-input-placeholder {
    color: #717374;
}

/* Search filters */
.text-content {
    margin: 0;
    >.searchFilters {
        @include box-shadow(0,1px,2px,0,rgba(0,0,0,0.2));
        position: relative;
        background-color: #f3f7f9;
        height: 140px;
        padding: 0;
        max-width: 100%;
        width: 100%;
        .searchFilterButtonWrapper {
            #btnSeaerchFilters {
                display: none;
            }
        }
        .jobfilters1 {
            @include flex();
            -webkit-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: flex-start;
            align-items: flex-start;
            margin: 0 auto;
            padding: 0 4%;
            max-width: 1800px;
            height: 140px;
            display: flex;
            >.box {
                @include border-radius(5px);
                position: relative;
                height: 120px;
                width: 20%;
                margin: 10px 0;
                padding: 30px 30px 0;
                z-index: 2;
                >.showFilter {
                    >.title {
                        font-size: 15px;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                    >.dropdown-arrow {
                        background: url(/wp-content/themes/pocketgems/assets/images/shared/arrow_blue_up.png) no-repeat 0 0;
                        @include background-size(contain);
                        display: inline-block;
                        width: 12px;
                        height: 7px;
                        margin-left: 3px;
                        vertical-align: middle;
                        top: -2px;
                        position: relative;
                    }
                }
                >.text-muted {
                    color: #8a8a8a;
                    line-height: 22px;
                    margin: 0;
                    max-width: 80%;
                }
                >.inner {
                    margin: 20px 0 0;
                    display: none;
                    height: 130px;
                    overflow: auto;
                    border-bottom: 1px solid #dde0e2;
                    >.input-group {
                        margin: 10px 0;
                        >.label {
                            @include border-radius(0);
                            min-height: inherit;
                            padding: 0 0 0 25px;
                            margin: 0;
                            font-weight: inherit;
                            color: #8a8a8a;
                            font-size: 100%;
                            display: block;
                        }
                        /* Radio buttons */
                        input[type="checkbox"]:checked + .label {
                            color: #1daadf;
                        }
                        input[type="checkbox"] {
                            display:none;
                        }
                        input[type="checkbox"] + .label {
                            cursor: pointer;
                            &:before {
                                @include border-radius(50%);
                                display: block;
                                position: absolute;
                                top: -2px;
                                left: 0px;
                                content: "";
                                width: 18px;
                                height: 18px;
                                border: 2px solid #1daadf;
                            }
                        }
                        input[type="checkbox"]:checked + .label {
                            &:before {
                                background: #1daadf;
                            }
                            &:after {
                                @include border-radius(50%);
                                display: block;
                                position: absolute;
                                top: 0;
                                left: 2px;
                                content: "";
                                width: 14px;
                                height: 14px;
                                border: 2px solid #fff;
                            }
                        }
                    }
                }
                >.clearFilters {
                    font-size: 16px;
                    text-align: right;
                    display: none;
                    margin:0;
                    padding: 10px 0 8px;
                    >a {
                        color: #8a8a8a;
                        &:hover {
                            color: #1daadf;
                        }
                    }
                }
                &:first-of-type {
                    /* Visual alignment of filters with tables */
                    margin-left: -30px;
                }
                &.active {
                    @include box-shadow(0,2px,2px,0,rgba(0,0,0,0.2));
                    background-color: #fff;
                    height: auto;
                    max-height: 320px;
                    >.showFilter {
                        >.dropdown-arrow {
                            background-image: url(/wp-content/themes/pocketgems/assets/images/shared/arrow_blue_down.png);
                        }
                    }
                    >.inner,
                    >.clearFilters {
                        display: block;
                    }
                }
            }
        }
    }
}

/* Job listings table */
.job-table-listing {
    padding: 0 4%;
    margin: 0 auto;
    max-width: 1800px;
    clear: both;
    &.jobs-table-wrapper {
      background-color: #f0f3f5;
      padding: 40px;
    }

}

.padding-container {
    >h3 {
        margin: 60px 0 20px;
        font-size: 32px;
        color: #000;
    }
    >.jobs-table-wrapper{
        >table {
            border-collapse: collapse;
            tr {
                th {
                    border-bottom: 1px solid #818384;
                    padding: 10px 20px 10px 0;
                    cursor: pointer;
                    .title {
                        font-weight: 500;
                        font-size: 15px;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                    .dropdown-arrow {
                        background: url(/wp-content/themes/pocketgems/assets/images/shared/arrow_grey_down.png) no-repeat 0 0;
                        @include background-size(contain);
                        display: inline-block;
                        width: 12px;
                        height: 7px;
                        margin-left: 3px;
                        vertical-align: middle;
                        top: 0;
                        position: relative;
                    }
                    &.ascending {
                        .title {
                            color: #1daadf;
                        }
                        .dropdown-arrow {
                            background-image: url(/wp-content/themes/pocketgems/assets/images/shared/arrow_blue_up.png);
                        }
                    }
                    &.descending {
                        .title {
                            color: #1daadf;
                        }
                        .dropdown-arrow {
                            background-image: url(/wp-content/themes/pocketgems/assets/images/shared/arrow_blue_down.png);
                        }
                    }
                    a {
                        display: block;
                    }
                }
                td {
                    width: 18%;
                    padding: 10px 20px 10px 0;
                    border-bottom: 1px solid #dde0e2;
                    &[data-label="Role"] {
                        width: 28%;
                        a {
                            font-weight: 700;
                            padding-bottom: 1px;
                            border-bottom: 1px solid transparent;
                            color: #1daadf;
                            &:hover {
                                border-bottom: 1px solid #1daadf;
                            }
                        }
                    }
                }
            }
        }
    }
    &:first-of-type {
        >h3 {
            margin-top: 0;
        }
    }
}

/* Apply direct */
.apply-direct-main {
    padding: 0 4%;
    margin: 80px auto;
    max-width: 1800px !important;
    >.padding-container {
        background: #f0f3f5;
        >.content-container {
            >.content {
                text-align: center;
                padding: 60px 4%;
                >h2 {
                    color: #000;
                    font-size: 72px;
                    font-weight: 200;
                    margin: 0 0 20px;
                }
                >p {
                    font-size: 23px;
                    color: #000;
                    margin: 0;
                }
                >.btn-primary {
                    margin-top: 20px;
                }
            }
        }
        >.image-container {
            >img {

            }
        }
    }
}

.jobfilters {
	padding-left: 10px;
    padding-right: 10px;
	padding-top:20px;
	padding-bottom:20px;
  width: 100%;
  height: 100.5px;
  background-color: #f3f7f9;
  box-shadow: 0px 2px 0.5px 0 rgba(0, 0, 0, 0.24);
}
.jobfilters-label {

  line-height: 1.53;
  letter-spacing: 0.8px;
  text-align: left;
  color: #1c92be;
	}
.jobfilters-select {
	 -moz-appearance: none;
        /*for chrome*/
        -webkit-appearance:none;
  font-family: Campton-Book;
  font-size: 12.5px;
  line-height: 1.53;
  letter-spacing: 0.8px;
  text-align: left;
   color: #8a8a8a;
   background-color: #f3f7f9;
   border:none;


}

.show {
    display: block;
}



/* Media queries */
@media screen and (mx-width: 995px) {
  .text-content {
      >.searchFilters {
          height: auto;
          .searchFilterButtonWrapper {
              #btnSeaerchFilters {
                  display: block;
                  padding: 4%;
              }
          }
          .jobfilters1 {
              display: block;
              display: none;
              height: auto;
              flex-direction: column;
              >.box {
                  @include box-shadow(0,2px,2px,0,rgba(0,0,0,0.2));
                  height: auto;
                  width: 100%;
                  padding: 4%;
                  background-color: #fff;
                  >.showFilter {
                      >.title {
                          display: block;
                          font-size: 14px;
                      }
                      >.dropdown-arrow {
                          position: absolute;
                          top: 0;
                          right: 4%;
                          bottom: 0;
                          margin: auto 0;
                      }
                  }
                  >.text-muted {
                      display: none;
                  }
                  >.inner {
                      margin: 4%;
                      height: auto;
                      max-height: 200px;
                      >.input-group {
                          margin: 4% 0;
                      }
                  }
                  >.clearFilters {
                      font-size: 14px;
                      padding: 2% 4% 2% 0;
                      >a {
                          color: #8a8a8a;
                          &:hover {
                              color: #1daadf;
                          }
                      }
                  }
                  &:first-of-type {
                      margin-left: 0;
                  }
                  &.styled {
                      max-height: 600px;
                  }
              }
          }
      }
  }
}
@media screen and (max-width: 640px) {
    .page-id-893,
    .page-id-951 {
        .layout {
            .hero {
                .hero-section {
                    .cell {
                        .hero-content {
                            min-height: 400px;
                            height: 400px;
                            .container {
                                .section-description {
                                    margin: 1em auto;
                                    max-width: 600px;
                                    padding: 0 20px;
                                    .button_box2 {
                                        margin: 4% 0 0;
                                        width: 100%;
                                        .form-wrapper-2 {
                                            width: 100%;
                                            height: auto;
                                            input {
                                                @include border-radius(5px);
                                                width: 100%;
                                                height: 45px;
                                                padding: 8px 20px 6px;
                                                float: none;
                                                font-size: 16px;
                                                margin-bottom: 4%;
                                            }
                                            button {
                                                @include border-radius(5px);
                                                height: 45px;
                                                padding: 8px 20px 6px;
                                                float: none;
                                                font-size: 16px;
                                                width: 100%;
                                                .fa-search {
                                                    @include background-size(20px);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .job-table-listing table caption {
        font-size: 16px;
    }
    .job-table-listing table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .job-table-listing table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    .job-table-listing table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 14px;
        padding-right: 0 !important;
        text-align: right;
        width: 100% !important;
    }
    .job-table-listing table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    .job-table-listing table td:last-child {
        border-bottom: 0;
    }
}
@media screen and (max-width: 480px) {
    .page-id-893,
    .page-id-951 {

        .hero-section {
            height: 400px;
        }
    }
}


    .cus-header-sticky{
        position: fixed !important;
        top: 0px!important;
        -webkit-transition: .8s ease top;
        transition: .8s ease top
    }
    .cus-header{
        -webkit-transition: .8s ease top;
        transition: .8s ease top
    }
    .header{
        z-index: 1000!important;
    }
    /*sticky header end*/

    /* Secondary Main Menu start*/

    #header {
      height: 80px;
    }

    .secondary-main-menu {
        background-color: #000000;
        padding: 8.5px 2%;
    }
    .secondary-main-menu ul{
        list-style: none;

    }
    .secondary-main-menu ul li{
        display: inline;
        margin: 0 2% 0 0;
        font-family: Campton-Book;
        font-size: 7.5px;
        line-height: 1.53;
        letter-spacing: 0.8px;
        text-align: left;
        color: #3fb6e3;
      }

    .secondary-main-menu ul li a{
        font-family: Campton,Arial,Helvetica,sans-serif;
        font-size: 15px;
        margin: 0;
        color: #FFFFFF;
        text-transform: uppercase;
    }
    .secondary-main-menu ul li.current-menu-item a{
        color: #3fb6e3;
    }
    /* Secondary Main Menu End*/





    /* Search located in jobs hero */




    /*-------------------------------------*/
    .cf:before, .cf:after{
        content:"";
        display:table;
    }
    .cf:after{
        clear:both;
    }
    .cf{
        zoom:1;
    }
    /*-------------------------------------*/


    /* Search Filters */
    .searchFilterButtonWrapper{ margin-bottom: 0 !important; }
    .btnSeaerchFilters{ padding-top: 15px; margin-bottom: 0; }

    /* search box  end*/

    .hero-section .section-title h2{

        margin: 0;
        padding: 0;
        color: inherit;
    }

    .gray {
        color: rgba(138, 138, 138, 0.8);
    }



    /*job search start*/

    .before-search{
        padding: 8% 0px;
    }
    .blue{
        color: #1daadf;
    }
    .before-search-text{
        font-size: 15px;
        font-weight: 600;
        line-height: 1.61;
        text-align: left;
        text-align: center;
    }
    .clearPage{
        font-size: 17px;
        padding: 1% 1%;
    }
    /*job search end*/

    /*job filter start */
    .icon {
        display: block;
        position: relative;
        width: 12px;
        height: 12px;
        margin: 0 auto;
    }

    .icon:before,
    .icon:after {
        content: "";
        position: absolute;
    }

    /*job filter end */
    @media screen and (min-width:992px){
      .content-row{
        overflow: hidden;
      }
    }


    @media only screen and (max-width: 500px) {
      .secondary-main-menu ul li{
          display: inline;
          margin: 0 2px 0 0;
          font-family: Campton-Book;
          font-size: 7.5px;
          line-height: 1.53;
          letter-spacing: 0.8px;
          text-align: left;
          color: #3fb6e3;
      }
      tr.border_bottom td{
        font-size: 10px;
      }
      tr.border_bottom th{
        font-size: 10px;
      }
      tr.border_bottom th {
          border-bottom: 1px solid #ddd;
          padding: 1% 2px;
          margin: 0 1%;
          font-size: 13px !important;
          font-weight: 400;
          text-transform: uppercase;
          word-wrap: break-word;
      }

      tr.border_bottom td {
          border-bottom: 1px solid #ddd;
          padding: 1% 2px;
          font-size: 13.5px !important;
          word-wrap: break-word;
      }


      .icon {
          display: block;
          position: relative;
          width: 12px;
          height: 12px;
          margin: 0 auto;
      }

      .icon:before,
      .icon:after {
          content: "";
          position: absolute;
      }
      .img-placeholder {
        width: 100%;
        height: 20%;
        display: block;
        max-height: 820px;
         min-height: auto !important;
      }

      .secondary-main-menu ul li.current-menu-item a{
          font-size: 11.4px;
      }

      .secondary-main-menu ul li a{
          font-size: 11.4px;
      }

    }

    /* Not sure of status of this stuff  from old style.css file */

    .section-title {
      padding-top: 10px !important;
    }

    #header .main-nav .sub-menu {
      z-index: 999999;
    }

    .carousel-inner iframe {
  width: 100%;
  height: 500px;
}

.carousel-indicators.custom-indicators {
  bottom: -45px;
  li {
    background-color: #16ACE0;
    opacity: 0.4;
  }
  .active {
    opacity: 1;
    background-color: #16ACE0;
    width: 10px;
    height: 10px;
    margin: 1px;
  }
  li {
    border-color: transparent;
  }
}

@media screen and (min-width: 1280px) {
  #pocket-gems-university {
    .container {
      width: 1280px;
      padding: 0px 0px 0px 0px;
    }
    margin-right: 158px;
  }
}

@media screen and (max-width: 1199px) {
  .nav-indicator {
    background-color: #1E93C0 !important;
    width: 54px !important;
    height: 54px !important;
    border-radius: 32px;
    line-height: 54px !important;
  }
  .glyphicon {
    margin-top: 157%;
  }
    .carosol-image {
        height: 20px;
    }
}

@media screen and (max-width: 960px) {
  .nav-indicator {
    background-color: #1E93C0 !important;
    width: 34px !important;
    height: 37px !important;
    border-radius: 32px;
    line-height: 37px !important;
  }
  .carousel-control {
    width: 13% !important;
    font-size: 15px !important;
  }
  .glyphicon {
    margin-top: 186% !important;
  }
}

@media screen and (max-width: 992px) {
  .carousel-inner iframe {
    height: 400px;
  }
}

@media screen and (max-width: 900px) {
  .carousel-inner iframe {
    height: 300px;
  }
  .glyphicon {
    margin-top: 139% !important;
  }
}

@media screen and (max-width: 750px) {
  .glyphicon {
    margin-top: 150%;
  }
}

@media screen and (max-width: 700px) {
  .glyphicon {
    margin-top: 163%;
  }
}

@media screen and (max-width: 650px) {
  .carousel-inner iframe {
    height: 200px;
  }
  .glyphicon {
    margin-top: 115%;
  }
}

@media screen and (max-width: 540px) {
  .nav-indicator {
    background-color: #1E93C0 !important;
    width: 24px !important;
    height: 24px !important;
    border-radius: 32px;
    line-height: 24px !important;
  }
  .carousel-control {
    width: 11% !important;
    font-size: 12px !important;
  }
  /*.carousel-inner iframe{
      height: 150px;
      }*/
  .glyphicon {
    margin-top: 178%;
  }
  .glyphicon-menu-right {
    margin-left: 8px;
  }
  .glyphicon-menu-left {
    margin-right: 8px;
  }

    .carosol-image {
        height: 10px;
    }
}

@media screen and (max-width: 412px) {
  .nav-indicator {
    background-color: #1E93C0 !important;
    width: 24px !important;
    height: 24px !important;
    border-radius: 32px;
    line-height: 24px !important;
  }
  .carousel-control {
    width: 11% !important;
    font-size: 15px !important;
  }
  .glyphicon {
    margin-top: 222%;
  }
  .glyphicon-menu-right {
    margin-left: 7px;
  }
  .glyphicon-menu-left {
    margin-right: 9px;
  }
}

@media screen and (max-width: 320px) {
  .carousel-inner iframe {
    height: 100px;
  }
  .glyphicon {
    margin-top: 482%;
  }
  .glyphicon-menu-right {
    margin-left: -11px;
  }
  .glyphicon-menu-left {
    margin-right: 3px;
  }
  .carousel-control {
    width: 8px !important;
    font-size: 11px !important;
  }
  .nav-indicator {
    background-color: #1E93C0 !important;
    width: 20px !important;
    height: 21px !important;
    border-radius: 32px;
    line-height: 22px !important;
  }
}