html {
	height: 100%;
}

* {
    box-sizing: border-box;
}

body {
	height: 100%;
	position: relative;
	font-family: $default-font;
	font-size: $default-font-size;
	font-weight: $default-font-weight;
	font-style: $default-font-style;
	line-height: $default-line-height;
	color: $default-text-color;
	background-color: $body-bg;
	min-width: 320px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'kern' 1;

	@media #{$md-max} {
		font-size: 16px; 
	}

	@media #{$sm-max} {
		font-size: 15px; 
	}

	@media #{$xs-max} {
		font-size: 14px; 
	}
}

.layout {
	position: relative;
	overflow: hidden;
	min-height: 100%;
}

.container {
	width: auto;
	max-width: $containerWidth + 2*$containerOffsetX;
	padding-left: $containerOffsetX;
	padding-right: $containerOffsetX;
}

.container-xs {
	max-width: $containerXsWidth + 2*$containerOffsetX;
}

.container-md {
	max-width: $containerMdWidth + 2*$containerOffsetX;
}

.container-lg {
	max-width: $containerLgWidth + 2*$containerOffsetX;
}

.container-fluid {
	max-width: none;
}

.container-clear-offset {
	padding-left: 0;
	padding-right: 0; 
}

.visible-retina {
    display: none !important;

    @media 
    (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi) { 
        display: block !important;
    }
}

.hidden-retina {
    @media 
    (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi) { 
        display: none !important;
    }
}

.bg-cover {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.img-placeholder {
	width: 100%;
	height: auto;
	display: block;
	max-height: 820px;
	min-height: 320px;

	@media screen and (max-height: 1000px){
		max-height: 520px;
	}
}

.has-video {

	.img-pleceholder {
		max-height: none;
	}
}