.menu {
	@extend %clear-list;

	& > li {
		font-size: 15px;
		display: inline-block;
		vertical-align: top;
		margin: 0 12px;
		position: relative;

		& > a {
			text-decoration: none;
		}
	}
}

.menu-primary {
	@extend .text-xx-small;
	letter-spacing: .1em;

	& > li {
		text-transform: uppercase;

		&.current-menu-item {

			&:after {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				display: block;
				border-bottom: 2px solid $brandColorPrimary;
				content: ''; 
			}
		}

		& > a {
			color: $brandColorPrimary;

			&:hover {
				color: darken($brandColorPrimary, 10%);
			}
		}
	}
}

.menu-secondary {
	@extend .text-x-small;
	
	& > li {

		&.current-menu-item {

			a {
				color: $brandColorPrimary;
			}
		}

		& > a {
			color: #9bb5c8;
		}
	}
}