.socials {
	@extend %clear-list;
	font-size: 0;
	text-align: center;
	padding: 10px 0;

	> li {
		display: inline-block;
		vertical-align: top;
		margin: 8px;
		font-size: 30px;

		@media #{$xs-max} {
			font-size: 20px;
			margin: 4px;
		}

		> a {
			display: table;
			color: #535455;
			text-decoration: none;
			font-size: 1em;

			&.fa-twitter {
				font-size: calc(40em/30);
			}

			&.fa-facebook {
				font-size: calc(32em/30);
			}

			&.fa-instagram {
				font-size: calc(34em/30);
			}

			&:hover:before {
				border-color: $brandColorPrimary;
			}

			&:before {
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				@include square(89px);
				border: 2px solid transparent;
				border-radius: 50%;
				transition: all .3s ease;

				@media #{$xs-max} {
					@include square(45px);
				}
			}
		}
	}
}