.init_popup{
    @media(max-width:750px){
        height: 100%;
        overflow: hidden;
    }
}
.team-grid {
    overflow: visible;
    text-align: center;
    color: #242525;
    margin-bottom: 44px;

    .item {
        position:relative;
        width: 20%;
        padding: 0 10px;
        margin: 18px 0 26px;
        float: left;
        cursor: pointer;
        
        @media #{$md-max} {
            &:first-child:hover .user-popup {
                left: 40px;
                .arrow {
                    left: 10%;
                    transform: translateX(-10%);
                }
            }
            &:nth-child(5n+5):hover .user-popup  {
                left: -270px;
                .arrow {
                    left: 90%;
                    transform: translateX(-90%);
                }
            }
            &:nth-child(5n+6):hover .user-popup  {
                left: 30px;
                .arrow {
                    left: 20%;
                    transform: translateX(-20%);
                }
            }
            .user-popup {
                left: -90px;
            }

            &:first-child .user-popup-active {
                left: 40px;
                .arrow {
                    left: 10%;
                    transform: translateX(-10%);
                }
            }
            &:nth-child(5n+5) .user-popup-active  {
                left: -270px;
                .arrow {
                    left: 90%;
                    transform: translateX(-90%);
                }
            }
            &:nth-child(5n+6) .user-popup-active  {
                left: 30px;
                .arrow {
                    left: 20%;
                    transform: translateX(-20%);
                }
            }
            .user-popup-active {
                left: -90px;
            }
        }
        &:hover .user-popup {
            @media (min-width:751px){
                top: 90px;
                left: -105px;
                z-index: 99;
                opacity: 1;
            }
        }
        &:first-child:hover .user-popup {
            left: 10px;
            .arrow {
                left: 25%;
                transform: translateX(-25%);
            }
        }
        &:nth-child(5n+5):hover .user-popup  {
            left: -280px;
            .arrow {
                left: 90%;
                transform: translateX(-90%);
            }
        }
        &:nth-child(5n+6):hover .user-popup  {
            left: 30px;
            .arrow {
                left: 20%;
                transform: translateX(-20%);
            }
        }

        & .user-popup-active {
            opacity: 1;
            top: 90px;
            left: -105px;
            z-index: 99;
            @media(max-width:750px){
                width: 100%!important;
                height: 100%!important;
                top: 0 !important;
                left: 0 !important;
                position: fixed!important;
                z-index: 101 !important;
            }
        }
        &:first-child .user-popup-active {
            left: 10px;
            .arrow {
                left: 25%;
                transform: translateX(-25%);
            }
        }
        &:nth-child(5n+5) .user-popup-active  {
            left: -280px;
            .arrow {
                left: 90%;
                transform: translateX(-90%);
            }
        }
        &:nth-child(5n+6) .user-popup-active  {
            left: 30px;
            .arrow {
                left: 20%;
                transform: translateX(-20%);
            }
        }


        .user-popup {
            position: absolute;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            width: 500px;
            height: auto;
            padding: 25px;
            border-radius: 5px;
            background-color: rgba(240, 243, 245, 1.0);
            box-shadow: 0px 1px 2.5px 0 rgba(0, 0, 0, 0.35);
            opacity: 0;
            top: 90px;
            left: -100px;
            transition: opacity .3s ease-out;
            z-index: -99;
            @media #{$xxm-max} {
                width: 250px;
            }
            p {
                text-align: left;
            }
            .arrow {
                position: absolute;
                display: block;
                content: '';
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 0;
                border: 0 solid transparent;
                border-right-width: 28px;
                border-left-width: 28px;
                border-bottom: 18px solid rgba(240, 243, 245, 1);
                cursor: pointer;
                &:after {
                    position: absolute;
                    display: block;
                    content: '';
                    top: -19px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    height: 0;
                    border: 0 solid transparent;
                    border-right-width: 29px;
                    border-left-width: 29px;
                    border-bottom: 19px solid rgba(240, 243, 245, 1);
                    z-index: -1
                }
            }
        .close-icon {
            display: none;
            align-self: flex-end;
            cursor: pointer;
            z-index: 99;
        }
        h4 {
            font-family: $default-font;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.38;
            color: $default-text-color;
        }
        p {
            font-family: $default-font;
            font-size: 16px;
            font-weight: normal;
            line-height: 1.38;
            color: $default-text-color;
        }
    }
    .user-popup-active {
        position: absolute;
        opacity: 1;
        top: 90px;
        left: -100px;
        transition: opacity .3s ease-in;
        z-index: 99;
        }

        @media #{$md-min} {
            &:nth-child(5n+1) {
                clear: left;
            }
        }

        @media #{$sm-max} {
            width: calc(100%/3);
            margin: 17px 0;

            &:nth-child(3n+1) {
                clear: left;
            }
        }

        @media #{$xm-max} {
            width: 50%;
            margin: 10px 0;

            &:nth-child(2n+1) {
                clear: left;
            }

            &:nth-child(3n+1) {
                clear: none;
            }
        }

        .image {
            @include square(120px);
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            margin: 0 auto 13px;
            background-color: #f0f3f5;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
        }

        figcaption {
            @extend .text-x-small;

            strong {
                @extend .text-big;
                color: #777879;
                display: block;
                color: $grey;
                margin: 0 0 7px;
            }
        }
    }
}
@media all and(max-width: 1380px) {
    .team-grid .item:hover .user-popup {
        left: -125px;
    }
    .team-grid .item:first-child:hover .user-popup {
        left: 10px;
        .arrow {
            left: 15%;
            transform: translateX(-15%);
        }
    }
    .team-grid .item:nth-child(5n+5):hover .user-popup  {
        left: -320px;
        .arrow {
            left: 90%;
            transform: translateX(-90%);
        }
    }
    .team-grid .item:nth-child(5n+6):hover .user-popup  {
        left: 30px;
        .arrow {
            left: 15%;
            transform: translateX(-15%);
        }
    }
    .team-grid .item .user-popup-active {
        left: -125px;
    }
    .team-grid .item:first-child .user-popup-active {
        left: 10px;
        .arrow {
            left: 15%;
            transform: translateX(-15%);
        }
    }
    .team-grid .item:nth-child(5n+5) .user-popup-active  {
        left: -320px;
        .arrow {
            left: 90%;
            transform: translateX(-90%);
        }
    }
    .team-grid .item:nth-child(5n+6) .user-popup-active  {
        left: 30px;
        .arrow {
            left: 15%;
            transform: translateX(-15%);
        }
    }

}
@media all and(max-width: 1140px) {
    .team-grid .item:hover .user-popup {
        left: -135px;
    }
    .team-grid .item:first-child:hover .user-popup {
        left: 10px;
        .arrow {
            left: 15%;
            transform: translateX(-15%);
        }
    }
    .team-grid .item:nth-child(5n+5):hover .user-popup  {
        left: -320px;
        .arrow {
            left: 90%;
            transform: translateX(-90%);
        }
    }
    .team-grid .item:nth-child(5n+6):hover .user-popup  {
        left: 20px;
        .arrow {
            left: 15%;
            transform: translateX(-15%);
        }
    }
    .team-grid .item .user-popup-active {
        left: -135px;
    }
    .team-grid .item:first-child .user-popup-active {
        left: 10px;
        .arrow {
            left: 15%;
            transform: translateX(-15%);
        }
    }
    .team-grid .item:nth-child(5n+5) .user-popup-active  {
        left: -320px;
        .arrow {
            left: 90%;
            transform: translateX(-90%);
        }
    }
    .team-grid .item:nth-child(5n+6) .user-popup-active  {
        left: 20px;
        .arrow {
            left: 15%;
            transform: translateX(-15%);
        }
    }
}
@media all and(max-width: 991px) {
    .team-grid .item:hover .user-popup {
        left: -105px;
    }
    .team-grid .item:first-child:hover .user-popup {
        left: 65px;
        .arrow {
            left: 10%;
            transform: translateX(-10%);
        }
    }
    .team-grid .item:nth-child(5n+5):hover .user-popup  {
        left: -105px;
        .arrow {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .team-grid .item:nth-child(5n+6):hover .user-popup  {
        left: -105px;
        .arrow {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .team-grid .item:nth-child(3n+3):hover .user-popup  {
        left: -290px;
        .arrow {
            left: 90%;
            transform: translateX(-90%);
        }
    }
    .team-grid .item:nth-child(3n+4):hover .user-popup  {
        left: 65px;
        .arrow {
            left: 10%;
            transform: translateX(-10%);
        }
    }
    .user-popup {
        left: -105px;
    }
    .team-grid .item .user-popup-active {
        left: -105px;
    }
    .team-grid .item:first-child .user-popup-active {
        left: 65px;
        .arrow {
            left: 10%;
            transform: translateX(-10%);
        }
    }
    .team-grid .item:nth-child(5n+5) .user-popup-active  {
        left: -105px;
        .arrow {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .team-grid .item:nth-child(5n+6) .user-popup-active  {
        left: -105px;
        .arrow {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .team-grid .item:nth-child(3n+3) .user-popup-active  {
        left: -290px;
        .arrow {
            left: 90%;
            transform: translateX(-90%);
        }
    }
    .team-grid .item:nth-child(3n+4) .user-popup-active  {
        left: 65px;
        .arrow {
            left: 10%;
            transform: translateX(-10%);
        }
    }
    .user-popup-active {
        left: -105px;
    }
}
@media all and(max-width: 750px) {
    // .team-grid .item:hover .user-popup {
    //     width: 100%;
    //     height: 100%;
    //     top: 0 !important;
    //     left: 0 !important;
    //     position: fixed;
    //     z-index: 101 !important;
    // }
    
    .team-grid .item .user-popup {
        // width: 100%;
        // left: 0;
        // top: 0;
        .close-icon {
            display: flex;
        }
    }
    .team-grid .item .user-popup .arrow {
        display: none;
    }
    
    .team-grid .item .user-popup-active {
        width: 100%;
        top: 0;
        left: 0;
    }
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .team-grid .item:hover .user-popup {
        // width: 100%;
        // height: 100%;
        // top: 0 !important;
        // left: 0 !important;
        // position: fixed;
        // z-index: 101 !important;
    }
    
    .team-grid .item .user-popup {
        // width: 100%;
        // left: 0;
        // top: 0;
        .close-icon {
            display: flex;
        }
    }
    .team-grid .item .user-popup .arrow {
        display: none;
    }
    
    .team-grid .item .user-popup-active {
        // width: 100%;
        // top: 0;
        // left: 0;
    }
}
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .team-grid .item:hover .user-popup {
        width: 100%;
        height: 100%;
        top: 0 !important;
        left: 0 !important;
        position: fixed;
        z-index: 101 !important;
    }
    
    .team-grid .item .user-popup {
        width: 100%;
        left: 0;
        top: 0;
        .close-icon {
            display: flex;
        }
    }
    .team-grid .item .user-popup .arrow {
        display: none;
    }
    
    .team-grid .item .user-popup-active {
        width: 100%;
        top: 0;
        left: 0;
    }
}

// @media all and(max-width: 667px) {
//     .team-grid .item:hover .user-popup {
//         left: -55px;
//     }
//     .team-grid .item:first-child:hover .user-popup {
//         left: 35px;
//         .arrow {
//             left: 10%;
//             transform: translateX(-10%);
//         }
//     }
//     .team-grid .item:nth-child(5n+5):hover .user-popup  {
//         left: -55px;
//         .arrow {
//             left: 50%;
//             transform: translateX(-50%);
//         }
//     }
//     .team-grid .item:nth-child(5n+6):hover .user-popup  {
//         left: -55px;
//         .arrow {
//             left: 50%;
//             transform: translateX(-50%);
//         }
//     }
//     .team-grid .item:nth-child(3n+3):hover .user-popup  {
//         left: -140px;
//         .arrow {
//             left: 80%;
//             transform: translateX(-80%);
//         }
//     }
//     .team-grid .item:nth-child(3n+4):hover .user-popup  {
//         left: 35px;
//         .arrow {
//             left: 15%;
//             transform: translateX(-15%);
//         }
//     }
//     .team-grid .item .user-popup {
//         left: -55px;
//         width: 300px;
//     }
//     .team-grid .item .user-popup-active {
//         left: -55px;
//     }
//     .team-grid .item:first-child .user-popup-active {
//         left: 35px;
//         .arrow {
//             left: 10%;
//             transform: translateX(-10%);
//         }
//     }
//     .team-grid .item:nth-child(5n+5) .user-popup-active  {
//         left: -55px;
//         .arrow {
//             left: 50%;
//             transform: translateX(-50%);
//         }
//     }
//     .team-grid .item:nth-child(5n+6) .user-popup-active  {
//         left: -55px;
//         .arrow {
//             left: 50%;
//             transform: translateX(-50%);
//         }
//     }
//     .team-grid .item:nth-child(3n+3) .user-popup-active  {
//         left: -140px;
//         .arrow {
//             left: 80%;
//             transform: translateX(-80%);
//         }
//     }
//     .team-grid .item:nth-child(3n+4) .user-popup-active  {
//         left: 35px;
//         .arrow {
//             left: 15%;
//             transform: translateX(-15%);
//         }
//     }
//     .team-grid .item .user-popup {
//         left: -55px;
//         width: 300px;
//     }
//     .team-grid .item .user-popup-active {
//         left: -55px;
//         width: 300px;
//     }
// }
// @media all and(max-width: 560px) {
//     .team-grid .item:hover .user-popup {
//         left: -55px;
//     }
//     .team-grid .item:first-child:hover .user-popup {
//         left: 70px;
//         .arrow {
//             left: 10%;
//             transform: translateX(-10%);
//         }
//     }
//     .team-grid .item:nth-child(5n+5):hover .user-popup  {
//         left: -55px;
//         .arrow {
//             left: 50%;
//             transform: translateX(-50%);
//         }
//     }
//     .team-grid .item:nth-child(5n+6):hover .user-popup  {
//         left: -55px;
//         .arrow {
//             left: 50%;
//             transform: translateX(-50%);
//         }
//     }
//     .team-grid .item:nth-child(3n+3):hover .user-popup  {
//         left: -55px;
//         .arrow {
//             left: 50%;
//             transform: translateX(-50%);
//         }
//     }
//     .team-grid .item:nth-child(3n+4):hover .user-popup  {
//         left: -55px;
//         .arrow {
//             left: 50%;
//             transform: translateX(-50%);
//         }
//     }
//     .team-grid .item:nth-child(2n+2):hover .user-popup  {
//         left: -115px;
//         .arrow {
//             left: 80%;
//             transform: translateX(-80%);
//         }
//     }
//     .team-grid .item:nth-child(2n+3):hover .user-popup  {
//         left: 70px;
//         .arrow {
//             left: 15%;
//             transform: translateX(-15%);
//         }
//     }
//     .team-grid .item .user-popup {
//         left: -55px;
//         width: 300px;
//     }
//     .team-grid .item .user-popup-active {
//         left: -55px;
//     }
//     .team-grid .item:first-child .user-popup-active {
//         left: 70px;
//         .arrow {
//             left: 10%;
//             transform: translateX(-10%);
//         }
//     }
//     .team-grid .item:nth-child(5n+5) .user-popup-active  {
//         left: -55px;
//         .arrow {
//             left: 50%;
//             transform: translateX(-50%);
//         }
//     }
//     .team-grid .item:nth-child(5n+6) .user-popup-active  {
//         left: -55px;
//         .arrow {
//             left: 50%;
//             transform: translateX(-50%);
//         }
//     }
//     .team-grid .item:nth-child(3n+3) .user-popup-active  {
//         left: -55px;
//         .arrow {
//             left: 50%;
//             transform: translateX(-50%);
//         }
//     }
//     .team-grid .item:nth-child(3n+4) .user-popup-active  {
//         left: -55px;
//         .arrow {
//             left: 50%;
//             transform: translateX(-50%);
//         }
//     }
//     .team-grid .item:nth-child(2n+2) .user-popup-active  {
//         left: -115px;
//         .arrow {
//             left: 80%;
//             transform: translateX(-80%);
//         }
//     }
//     .team-grid .item:nth-child(2n+3) .user-popup-active  {
//         left: 70px;
//         .arrow {
//             left: 15%;
//             transform: translateX(-15%);
//         }
//     }
//     .team-grid .item .user-popup-active {
//         left: -55px;
//         width: 300px;
//     }
// }
        
