@include font-face($campton, 'campton-light', 300);
@include font-face($campton, 'campton-book');
@include font-face($campton, 'campton-semibold', 600);
@include font-face($campton, 'campton-bold', 700);

.heading {
	font-family: $headingFont;
	font-weight: 500;
}

.text-title {
	font-weight: 300;
	font-size: 72px;
	line-height: 1;

	@media #{$sm-max} {
		font-size: 42px;
	}

	@media #{$xs-max} {
		font-size: 36px;
		line-height: 1.1;
	}
}

.text-subtitle {
	font-weight: 400;
	font-size: 32px;
	line-height: 1.03;

	@media #{$md-max} {
		font-size: 28px;
		line-height: 1;
	}

	@media #{$sm-max} {
		font-size: 24px;
	}

	@media #{$xs-max} {
		font-size: 20px;
		line-height: 1.1;
	}
}

.text-large {
	font-weight: 400;
	font-size: 42px;
	line-height: 1.21;

	@media #{$md-max} {
		font-size: 36px;
	}

	@media #{$sm-max} {
		font-size: 30px;
	}

	@media #{$xs-max} {
		font-size: 24px;
	}
}

.text-big {
	font-size: 23px;
	line-height: calc(33/23);
	font-weight: 400;

	@media #{$md-max} {
		font-size: 20px;
	}

	@media #{$sm-max} {
		font-size: 18px;
	}

	@media #{$xs-max} {
		font-size: 16px;
	}
}


.text-small {
	font-size: 18px;

	@media #{$sm-max} {
		font-size: 16px;
	}

	@media #{$xs-max} {
		font-size: 14px;
	}
}

.text-x-small {
	font-size: 16px;
	line-height: 1.38;

	@media #{$sm-max} {
		font-size: 14px;
	}

	@media #{$xs-max} {
		font-size: 13px;
	}
}

.text-xx-small {
	font-size: 15px;

	@media #{$sm-max} {
		font-size: 13px;
	}

	@media #{$xs-max} {
		font-size: 12px;
	}
}

.text-xxx-small {
	font-size: 13px;

	@media #{$sm-max} {
		font-size: 11px;
	}

	@media #{$xs-max} {
		font-size: 10px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@extend .heading;
	color: #777870;
	margin: .84375em 0 .5em;
}

h1 {
	@extend .text-title;
}

h2 {
	@extend .text-large;
}

h3 {
	@extend .text-subtitle;
}

h4 {
	@extend .text-small;
}

h5 {
	@extend .text-x-small;
}

h6 {
	@extend .text-xx-small;
}

a {
	@extend .link-primary;
	transition: color .3s ease;
}

ul,
ol {
	padding-left: 1em;

	&:not(:last-child) {
		margin-bottom: 1em;
	}
}

.link-primary,
.link-secondary {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

.link-primary {
	color: $brandColorPrimary;

	&:hover {
		color: darken($brandColorSecondary, 10%);
	}
}

.link-secondary {
	color: $brandColorSecondary;

	&:hover {
		color: darken($brandColorSecondary, 10%);
	}
}


//Text aligment
.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }

@media (min-width: $screen-sm-min) {
	.text-sm-left { text-align: left; }
	.text-sm-right { text-align: right; }
	.text-sm-center { text-align: center; }
	.text-sm-justify { text-align: justify; }
}

@media (min-width: $screen-md-min) {
	.text-md-left { text-align: left; }
	.text-md-right { text-align: right; }
	.text-md-center { text-align: center; }
	.text-md-justify { text-align: justify; }
}

@media (min-width: $screen-lg-min) {
	.text-lg-left { text-align: left; }
	.text-lg-right { text-align: right; }
	.text-lg-center { text-align: center; }
	.text-lg-justify { text-align: justify; }
}

p {
	margin-top: 0;

	&:not(:last-child) {
		margin-bottom: 10px;
	}
}

.text-columns {

	@media #{$md-min} {
		columns: 2;
		column-gap: $containerOffsetX;
		padding-bottom: 1.16em;
	}
}

.section-title {
	@extend .text-title;
	margin-top: 1.0555em;
	margin-bottom: .5833em;
	color: #000;

	img {
		margin: auto;
		@extend .img-responsive;

		@media #{$xs-max} {
			max-width: 260px;
		}
	}

	p {
		margin: 0;
	}
}

.section-description {
	@extend .text-big;
	font-weight: 400;
}

.section-head {

	.section-title {
		margin: 0 0 .5em;
	}

	.section-description {
		margin: 1em auto;
		max-width: 640px;
	}
}

.section-head-bg {
    background-color: $lightGrey;
    padding: 5em 20px 4.3333em;

    @media #{$xs-max} {
        padding: 3em 20px 2em;
    }

    .section-description {
        text-shadow: 0px 1px 1px #fff;
    }
}

.aligncenter {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#sb_instagram{
	max-width: 1280px !important;
}

