//Path

$path-fonts: '../fonts/';
$path-img: '../images/';

//Fonts
$campton: 'Campton';


//Colors
$black: #000;
$white: #fff;
$curiousBlue: #1daadf;
$grey: #777879;
$lightGrey: #f0f3f5;
$darkGrey: #e7eaec;
$heavyGrey: #242525;

$brandColorPrimary: $curiousBlue;
$brandColorSecondary: $curiousBlue;

//Default settings
$default-font: $campton, Arial, Helvetica, sans-serif;;
$default-font-size: 18px;
$default-line-height: calc(29/18);
$default-font-weight: 400;
$default-font-style: normal;
$default-text-color: $heavyGrey;
$text-color-inverse: $white;
//titles
$sectionTitle: normal 300 36px $default-font;
$sectionDescr: normal normal 11.5px $default-font;


$headingFont: $campton;

$body-bg: $white;

$lg-min: 'screen and (min-width: #{$screen-lg})';
$md-max: 'screen and (max-width: #{$screen-lg - 1})';
$md-min: 'screen and (min-width: #{$screen-md})';
$sm-max: 'screen and (max-width: #{$screen-md - 1})';
$sm-min: 'screen and (min-width: #{$screen-sm})';
$xs-max: 'screen and (max-width: #{$screen-sm - 1})';
$xs-min: 'screen and (min-width: #{$screen-xs})';
$xm-max: 'screen and (max-width: 559px)';
$xm-min: 'screen and (min-width: 480px)';
$xxm-max: 'screen and (max-width: 479px)';

$containerOffsetX: 20px;
$containerOffsetXTablet: 20px;
$containerOffsetXMobile: 20px;
$containerXsWidth: 760px;
$containerMdWidth: 1220px;
$containerWidth: 1320px;
$containerLgWidth: 1400px;