$videoHeightLg: 500px;

.video-carousel {

    .owl-item {
        position: relative;

        .owl-video-wrapper {
            width: 100%;
            height: auto;
            padding-bottom: 56.25%; //16:9
            margin-bottom: 52px;
            position: relative;

            @media #{$lg-min} {
                height: $videoHeightLg;
                padding: 0;
            }
        }

        .owl-video-frame {
            position: absolute;

            iframe {
                height: 100%;
            }
        }
    }

    %owl-btn {
        background-color: $brandColorPrimary;
        background-repeat: no-repeat;
        transition: all .25s linear;
        border: 1px solid $brandColorPrimary;
        margin: 0;
        @include circle(80px);

        &:hover {
            background-color: darken($brandColorPrimary, 10%);
            border-color: darken($brandColorPrimary, 10%);
        }
    }

    .owl-video-tn {
        background-size: cover;
        position: absolute;
        left: -1px;
        top: -1px;
        right: -1px;
        bottom: -1px;
        height: auto;
        opacity: .25 !important;
    }

    .owl-video-play-icon {
        @extend %owl-btn;
        @extend .fa;
        @extend .fa-play;
        @extend %absCenter;
        opacity: 0 !important;
        margin: 0 !important;

        &:hover {
            transform: translate(-50%, -50%);
        }
        
        &:before {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-35%, -50%);
            font-size: 40px;
            color: #fff;
        }
    }

    .active {

        .owl-video-play-icon {
            opacity: 1 !important;
        }


        .owl-video-tn {
            opacity: 1 !important;
        }
    }

    .owl-nav {
        position: absolute;
        left: 25px;
        right: 25px;
        top: 50%;
        height: 0;
        z-index: 100;
        font-size: 0;

        @media #{$md-min} {
            left: 40px;
            right: 40px;
        }

        @media #{$lg-min} {
            left: 60px;
            right: 60px;
            top: $videoHeightLg/2;
        }

        > * {
            @extend %owl-btn;
            background-size: 25% 50%;
            font-size: 0;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
        }

        .owl-prev {
            background-image: url(#{$path-img}arrow-left.png);
            background-position: 45% 50%;
            left: 0;
        }

        .owl-next {
            background-image: url(#{$path-img}arrow-right.png);
            background-position: 55% 50%;
            right: 0;
        }
    }

    .owl-dots {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 22px 0;
        position: absolute;
        left: 0;
        top: $videoHeightLg;

        .owl-dot {
            margin: 2px;
            @include circle(11px);
            background-color: $brandColorPrimary;
            opacity: .3;
            transition: all .35s;

            &:hover {
                opacity: .6;
            }

            &.active {
                opacity: 1;
            }
        }
    } 

    .owl-title {
        text-align: center;
        font: 400 23px/1.43 $headingFont;
        color: $grey;

        @media #{$sm-max} {
            font-size: 20px;
            padding: 0 20px;
        }

        @media #{$xs-max} {
            font-size: 18px;
        }
    }
}